# Node
node_modules/
dist/
build/
.npm/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
.venv/
disaster_local.db

# Expo / React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# OS
.DS_Store
Thumbs.db

# Render
.render/
